<!DOCTYPE html>
<html>
  <head>
    <title>Betternote | The Best Note Taking App</title>
    <link rel="icon" type="image/png" href="<%=image_path("evernote-png.png")%>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
